<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <style>
            body {
                position: relative;
                background-color: #303030;
                font-family: 'Ubuntu', sans-serif;
                color: #fff;
            }

            h1 {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .box {
                position: fixed;
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }
        </style>
    </head>
    <body>
        <div class="box">
            <h1>Hello, <span th:text="${hello.text}" /></h1>
        </div>
    </body>
</html>